.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  /* max-width: 1500px; */
}

.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  /*  */
  max-width: 101%;
}
.all_products {
  margin-top: -80px;
}
/* @media only screen and (min-width: 1022px) {
  .all_products {
    margin-top: -40px;
  }
} */
@media only screen and (max-width: 900px) {
  .all_products {
    margin-top: -10px;
  }
}

.home_container {
  position: relative;
}
.home_banner {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}
/* .banner_gradiant {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 22;
} */
